#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data_path = '../content/drive/MyDrive/Analytics_HW/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [5]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [10]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [11]:
df.groupby('City')['gross income'].sum().sort_values(ascending=False)

City
Naypyitaw    5265.1765
Yangon       5057.1605
Mandalay     5057.0320
Name: gross income, dtype: float64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [13]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [21]:
b = invoices_by_category ['Electronic accessories']

top_branch = b.sort_values(ascending=[False]).head(1)
top_branch

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

In [37]:
# –ê–Ω–∞–ª—ñ–∑ —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç—ñ–≤ (Members vs Normal). –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤, —ñ —è–∫—ñ –≥—Ä—É–ø–∏ –ø–æ–∫—É–ø—Ü—ñ–≤ –∫—É–ø—É—é—Ç—å?
# –©–æ —Ü–µ –¥–∞—î –±—ñ–∑–Ω–µ—Å—É: —Ä–æ–∑—É–º—ñ–Ω–Ω—è, —á–∏ –ø—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –ø—Ä–∞—Ü—é—î, —è–∫ —ó—ó  –ø–æ–∫—Ä–∞—â–∏—Ç–∏? (–∫—É–¥–∏ –Ω–∞–ø—Ä–∞–≤–∏—Ç–∏ –µ–∫—Å–ª—é–∑–∏–≤–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó),
# —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –≤–∞—Ä—ñ–∞–Ω—Ç –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ (–ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó).
customer_analysis = pd.pivot_table(
    df,
    index=['Customer type', 'Product line'],
    values=['gross income', 'Invoice ID'],
    aggfunc={'gross income': 'sum', 'Invoice ID': 'count'}
)
customer_analysis

                                      Invoice ID  gross income
Customer type Product line
Member        Electronic accessories          78     1166.5950
              Fashion accessories             86     1253.5220
              Food and beverages              94     1493.2200
              Health and beauty               73     1230.0495
              Home and lifestyle              83     1332.2870
              Sports and travel               87     1344.4905
Normal        Electronic accessories          92     1420.9065
              Fashion accessories             92     1332.4730
              Food and beverages              80     1180.3440
              Health and beauty               79     1112.5095
              Home and lifestyle              77     1232.5660
              Sports and travel               79     1280.4060

In [28]:
# C–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –ø–æ —Ñ—ñ–ª—ñ—è—Ö —Ç–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö.
# –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ —É —è–∫–∏—Ö —Ñ—ñ–ª—ñ—è—Ö –ø—Ä–æ–¥–∞—é—Ç—å—Å—è –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É –∫—Ä–∞—â–µ –∑–∞ —ñ–Ω—à—ñ?
# –©–æ —Ü–µ –¥–∞—î –±—ñ–∑–Ω–µ—Å—É: —Ä–æ–∑—É–º—ñ–Ω–Ω—è –∫—É–ø—ñ–≤–µ–ª—å–Ω–æ—ó —Å–ø—Ä–æ–º–æ–∂–Ω–æ—Å—Ç—ñ –ø–æ–∫—É–ø—Ü—ñ–≤ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —Ñ—ñ–ª—ñ—ó,
# –ø–ª–∞–Ω—É–≤–∞–Ω–Ω—è –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—É (–º–æ–∂–ª–∏–≤–æ, –≤–∞—Ä—Ç–æ –¥–æ–¥–∞—Ç–∏ —Ç–æ–≤–∞—Ä–∏ premium-—Å–µ–≥–º–µ–Ω—Ç—É, —Å–ø–ª–∞–Ω—É–≤–∞—Ç–∏ –∞–∫—Ü—ñ—ó —Ç–∞ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—ñ.

avg_total = pd.pivot_table(
    df,
    index='Branch',
    columns='Product line',
    values='Total',
    aggfunc='mean'
)
avg_total

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,305.285225,320.245265,295.915526,268.037298,344.879931,328.350839
B,310.026245,264.730911,304.297770,376.993585,350.983290,322.390306
C,344.890445,331.693385,360.103864,319.525500,308.790067,350.265067

In [33]:
# –ê–Ω–∞–ª—ñ–∑ –º–µ—Ç–æ–¥—ñ–≤ –æ–ø–ª–∞—Ç–∏ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö.
# –ß–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å —Ä—ñ–∑–Ω—ñ –º–µ—Ç–æ–¥–∏ –æ–ø–ª–∞—Ç–∏ –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ (–º–æ–∂–ª–∏–≤–æ, –¥–æ—Ä–æ–≥—ñ —Ç–æ–≤–∞—Ä–∏ –∫—É–ø—É—é—Ç—å –∫–∞—Ä—Ç–∫–æ—é, –¥–µ—à–µ–≤—ñ - –≥–æ—Ç—ñ–≤–∫–æ—é)?
# –©–æ —Ü–µ –¥–∞—î –±—ñ–∑–Ω–µ—Å—É: –æ–ø—Ç–∏–º—ñ–∑–∞—Ü—ñ—è —Ä–æ–±–æ—Ç–∏ –∫–∞—Å (—Å–∫—ñ–ª—å–∫–∏ –Ω–æ–≤–∏—Ö —Ç–µ—Ä–º—ñ–Ω–∞–ª—ñ–≤ –ø–æ—Ç—Ä—ñ–±–Ω–æ),
# –ø–∞—Ä—Ç–Ω–µ—Ä—Å—Ç–≤–∞ –∑ –ø–ª–∞—Ç—ñ–∂–Ω–∏–º–∏ —Å–∏—Å—Ç–µ–º–∞–º–∏, —Ä–æ–∑—É–º—ñ–Ω–Ω—è –∫—É–ø—ñ–≤–µ–ª—å–Ω–æ—ó –ø–æ–≤–µ–¥—ñ–Ω–∫–∏ –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö —Å–ø–æ—Å–æ–±—ñ–≤ –æ–ø–ª–∞—Ç–∏.
payment_branch = pd.pivot_table(
    df,
    index=['Branch', 'Payment'],
    columns='Product line',
    values='Invoice ID',
    aggfunc='count'
)
payment_branch

Product line        Electronic accessories  Fashion accessories  \
Branch Payment
A      Cash                             18                   13
       Credit card                      21                   17
       Ewallet                          21                   21
B      Cash                             24                   22
       Credit card                      15                   19
       Ewallet                          16                   21
C      Cash                             29                   22
       Credit card                      10                   20
       Ewallet                          16                   23

Product line        Food and beverages  Health and beauty  Home and lifestyle  \
Branch Payment
A      Cash                         18                 17                  24
       Credit card                  21                 14                  15
       Ewallet                      19                 16                  26
B      Cash                          8                 17                  13
       Credit card                  25                 17                  15
       Ewallet                      17                 19                  22
C      Cash                         31                 15                  14
       Credit card                  15                 19                  15
       Ewallet                      20                 18                  16

Product line        Sports and travel
Branch Payment
A      Cash                        20
       Credit card                 16
       Ewallet                     23
B      Cash                        26
       Credit card                 18
       Ewallet                     18
C      Cash                        13
       Credit card                 19
       Ewallet                     13